* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,html {
   
    justify-content: center;
    align-content: center;
    
}

.image {
    background-image: url(stone.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 1200px;

}

.container {
    position: absolute;
    top: 30%;
    left: 30%;

    background-color: transparent;
    backdrop-filter: blur(8px);
    height: 250px;
    width: 400px;
    text-align: center;
    border-radius: 5%;
    border: 1px solid rgb(255, 255, 255);
    

}

.stopWatch {
    font-size: 1rem;
    margin-top: 5px;
    color: white;

}

.display {
    margin: 50px;
    color: white;
}

.dis {
    border: 2px solid whitesmoke;
    font-size: 2rem;
    border-radius: 5%;
}

.buttons {
    margin: 50px;
   


}
.buttons button {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    text-decoration: none;
    border: none;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    border-radius: 5%;

}
#start:hover {
    background-color: rgb(133, 238, 133);
    color: white;
}
#stop:hover {
    background-color: rgb(239, 97, 97);
    color: white;
}
#reset:hover {
    background-color:rgb(239, 239, 81);
   
}